<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.7.0</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.7.1</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.7.5</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.8.0</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.8.1</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.9.0</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.9.1</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.9.2</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.9.3</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>1.9.4</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>2.0.0</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>2.0.1</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
	<key>2.0.5</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v2.0.6/RcloneOSX-2.0.6.dmg</string>
</dict>
</plist>
