<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Catalogs</key>
	<array>
		<dict>
			<key>backupID</key>
			<string>Encrypt Documents</string>
			<key>batch</key>
			<integer>0</integer>
			<key>dateRun</key>
			<string>28 Oct 2019 07:49</string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>1</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/Documents</string>
			<key>offsiteCatalog</key>
			<string></string>
			<key>offsiteServer</key>
			<string>localencrypt</string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>sync</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string></string>
			<key>parameter4</key>
			<string></string>
			<key>parameter5</key>
			<string></string>
			<key>parameter6</key>
			<string></string>
			<key>parameter8</key>
			<string>--exclude-from=/Users/thomas/excludersync/exclude_rclone.txt</string>
			<key>task</key>
			<string>sync</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>Sync GitHub Dropbox</string>
			<key>batch</key>
			<integer>0</integer>
			<key>dateRun</key>
			<string>23 Oct 2019 07:48</string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>4</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/GitHub</string>
			<key>offsiteCatalog</key>
			<string>GitHuB</string>
			<key>offsiteServer</key>
			<string>dropbox</string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>sync</string>
			<key>parameter13</key>
			<string>--backup-dir=dropbox:GitHuB_backup</string>
			<key>parameter14</key>
			<string>--suffix=date</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string></string>
			<key>parameter4</key>
			<string></string>
			<key>parameter5</key>
			<string></string>
			<key>parameter6</key>
			<string></string>
			<key>parameter8</key>
			<string>--exclude-from=/Users/thomas/excludersync/exclude_rclone.txt</string>
			<key>task</key>
			<string>sync</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>GitHub onedrive</string>
			<key>batch</key>
			<integer>0</integer>
			<key>dateRun</key>
			<string>23 Oct 2019 07:45</string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>5</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/GitHub</string>
			<key>offsiteCatalog</key>
			<string>GitHub</string>
			<key>offsiteServer</key>
			<string>onedrive</string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>sync</string>
			<key>parameter13</key>
			<string>--backup-dir=onedrive:GitHub_backup</string>
			<key>parameter14</key>
			<string>--suffix=date</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string></string>
			<key>parameter4</key>
			<string></string>
			<key>parameter5</key>
			<string></string>
			<key>parameter6</key>
			<string></string>
			<key>parameter8</key>
			<string>--exclude-from=/Users/thomas/excludersync/exclude_rclone.txt</string>
			<key>task</key>
			<string>sync</string>
		</dict>
		<dict>
			<key>backupID</key>
			<string>Local disks</string>
			<key>batch</key>
			<integer>0</integer>
			<key>dateRun</key>
			<string></string>
			<key>dryrun</key>
			<string>--dry-run</string>
			<key>hiddenID</key>
			<integer>6</integer>
			<key>localCatalog</key>
			<string>/Users/thomas/Source</string>
			<key>offsiteCatalog</key>
			<string>/Users/thomas/Destination</string>
			<key>offsiteServer</key>
			<string>local</string>
			<key>offsiteUsername</key>
			<string></string>
			<key>parameter1</key>
			<string>sync</string>
			<key>parameter2</key>
			<string>--verbose</string>
			<key>parameter3</key>
			<string></string>
			<key>parameter4</key>
			<string></string>
			<key>parameter5</key>
			<string></string>
			<key>parameter6</key>
			<string></string>
			<key>task</key>
			<string>sync</string>
		</dict>
	</array>
</dict>
</plist>
